@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primary: #30475E;
$font-family-sans-serif: 'Roboto';

* {
  border: 1px solid gray;
}

$card-border-color: rgba($primary, .125);
$body-color: $primary;

.weather-icon {
  font-size: 50px;
}